@use 'config' as *;

:root {
  font-family: $font;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: $primaryColor;
}

.wallpaper {
  object-position: 69% 0;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

// Custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar{
  height: 14px;
  width: 4px;
  background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}