@use "config" as *;


@media (min-width: $breakpoint) {
  #start nav ul {
    display: flex;
  }
  
  .menu__account--link {
    display: none;
  }

  #menu li {
    margin: -20px 0 20px 0;
  }

  #start nav li {
    padding: 10px;
  }
}


#start {
  width: 100%;
  height: 72px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 25px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  .account-link.hidden {
    display: none;
  }

  & nav {
    width: 100%;
    display: flex;

    #toggle {
      border: none;
      background-color: black;
      margin-left: 9px;
      &.laptop {
        display: none;
      }
    }

    

    #menu {
      display: none;
      margin: 0;
      z-index: 1;

      &.visible {
        display: block;
        position: fixed;
        top: 71px;
        left: 0;
        list-style: none;
        padding: 0;
        background-color: black;
        width: 100%;
      }

      li {
        padding: 10px 15px;
      }

      a {
        color: $secondaryColor;
        text-decoration: none;
        font-size: 40px;
      }

      &.laptop{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 72px;
        right: 0;
        background-color: black;
        font-size: 70%;
        height: 100vh;
        width: 280px;
      }

      &.laptop li a {
        padding-left: 4px;
        font-size: 25px;
      }

      &.laptop li a:hover {
        color: $ternaryColor;
      }
    }

    .nav-link {
      color: $secondaryColor;
      text-decoration: none;
      font-size: 30px;
      display: flex;
      align-items: center;
      margin: 0 10px;
  
    }

    .logo {
      color: white;
      height: 72px;
      font-size: 30px;
      display: flex;
      align-items: center;
      margin-right: 15px;

      &--orange {
        padding: 5px 3px 5px 5px;
        background-color: $primaryColor;
        border-radius: 15px 0 0 15px;
      }

      &--tube {
        background-color: $ternaryColor;
        padding: 5px 3px 5px 5px;
        border-radius: 0 10px 10px 0;
      }
    }

    #search-bar {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      font-size: 24px;

      & input {
        padding: 0 15px;
        width: 100%;
        height: 48px;
        border-radius: 24px 0 0 24px;
        border: 0;
      }

      & button{
        border: none;
        background-color: black;
        padding: 0;

        & img {
          color: $ternaryColor;
          background-color: $primaryColor;
          border-radius: 0 24px 24px 0;
          display: flex;
          align-content: center;
        }
      }
    }
  }
}

