@use 'config' as *;

.apps {
  width: 80%;
  height: 82%;
  margin: 30px auto;

  &__clock {
    width: 100%;
    height: 200px;
    background-color: rgba(25, 25, 16, 0.4);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;

    &__time {
      color: white;
      font-size: 100px;
      font-weight: bold;
    }

    ul {
      list-style: none;
      padding: 0;
      height: 70px;
      position: relative;
      top: -5px;
      font-size: 19px;
      font-weight: lighter;

      li{
        padding-bottom: 5px;
        color: white;
        img {
          position: relative;
          bottom: -2px;
          filter: invert(100%);
        }
      }
    }
  }

  &__applications{
    height: calc(100% - 200px);
    background-color: rgba(25, 25, 16, 0.4);
    border-radius: 15px;

    & ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-content: flex-end;
      height: calc(100% - 30px);
      justify-content: flex-end;
      flex-wrap: wrap;
      filter: invert(100%);
      & li {
        margin: 30px 50px;
        display: flex;
        flex-direction: column;

        & span {
          margin: auto;
          font-size: 120%;
        }
      }
    }
  }
}