@use 'config' as *;

:root {
  font-family: $font;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  width: 720px;
  height: 1280px;
  margin: auto;
}

.wallpaper {
  object-position: 69% 0;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}
