@use 'config' as *;

.menu {
  height: 120px;
  width: 100%;
  top: calc(100% - 120px);
  position: relative;
  padding: 0 50px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;

  &.landscape {
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    right: 0;
  }

  &.landscape ul  {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 85%;
    align-items: center;
    justify-items: space-between;
    left: 0;
    position: absolute;
    // border: 1px solid lime;
  }


  &__apps{
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    filter: invert(100%);

  }

  &__apps ul {
    display: flex;
    align-content: center;
  }
}