@use 'config' as *;

.menu {
  height: 120px;
  width: 100%;
  padding: 0 50px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;

  &__apps{
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    filter: invert(100%);

  }

  &__apps ul {
    display: flex;
    align-content: center;
  }
}