@use 'config' as *;

.menu {
  position: relative;
  bottom: 0;
  height: 84px;
  width: 100%;
  border: 1px solid red;
  padding: 0 50px;

  &__apps{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__apps ul {
    display: flex;
    align-content: center;
  }
}